# copy that file to .env
# add relevant API keys & set relevant paths
OPENAI_API_KEY=
GROQ_API_KEY=
OLLAMA_API_KEY=
ANTHROPIC_API_KEY=
LKA_DATA_DIR=/path/to/your/data
LKA_STORAGE_DIR=./storage
LKA_CONFIG_DIR=./config
